/* Reset de márgenes y padding en el cuerpo de la página */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Estilo básico para el cuerpo de la página */
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; /* Color de fondo de la página */
  }
  
  /* Contenedor principal de la página */
  .container {
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor en la página */
    overflow: hidden; /* Limpiar flotadores dentro del contenedor */
  }
  
  /* Estilo para el encabezado */
  header {
    background-color: #333; /* Color de fondo del encabezado */
    color: #fff; /* Color del texto del encabezado */
    padding: 10px 0; /* Relleno superior e inferior del encabezado */
  }
  
  /* Estilo para el pie de página */
  footer {
    background-color: #333; /* Color de fondo del pie de página */
    color: #fff; /* Color del texto del pie de página */
    padding: 10px 0; /* Relleno superior e inferior del pie de página */
    text-align: center; /* Alinear el texto al centro */
  }
  
  /* Estilo para las secciones principales de la página */
  main {
   
    padding: 20px 0; /* Relleno superior e inferior de la sección principal */
  }
  
  /* Estilo para las tarjetas (cards) */
  .card {
    
    margin-bottom: 20px; /* Margen inferior entre tarjetas */
  }
  
  /* Estilo para las tablas */
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  /* Estilo para los botones */
  .btn {
    display: inline-block;
    padding: 8px 16px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    background-color: #333;
    color: #fff;
    border: 1px solid #333;
    cursor: pointer;
  }
  
  .btn-success {
    background-color: #2861a7; /* Color de fondo para el botón de éxito */
    border: 1px solid #28a745;
  }
  
  /* Estilo para la navegación (si tienes una) */
  nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  /* Estilo para los formularios */
  form {
    max-width: 400px; /* Ancho máximo del formulario */
    margin: 0 auto; /* Centrar el formulario en la página */
  }
  
  /* Ajustes de diseño responsivo para dispositivos pequeños */
  @media (max-width: 767px) {
    /* Estilo para el encabezado en dispositivos pequeños */
    header {
      text-align: center; /* Alinear el texto al centro en dispositivos pequeños */
    }
  
    /* Ajustes para el pie de página en dispositivos pequeños */
    footer {
      text-align: center; /* Alinear el texto al centro en dispositivos pequeños */
    }
  }
  